@media screen and (max-width: 600px) { 
  
    body {
        position: relative;
        overflow-x: hidden;
    }
   span , .navbar-toggler-icon{
       font-size: 35px;
       outline-style: none;
       margin-top: 10px;
    }
   span , .navbar-toggler-icon .fa, .fas {
    color: rgb(214, 195, 88);
    }
    .navbar-nav {
        padding-left:0;
    }
     .navbar-nav .nav-link {
       margin: 2px 2px 10px;
       padding: 1px;
       font-family: 'Kaisei HarunoUmi', serif;
       font-size: 1.1em;
    }
    .header{
        position: relative;
        background-color: rgb(216, 181, 24);
        min-height: 190vh;
    }
    .hero img {
        width: 100%;
    }
    .hero{
        width: 100%;
    }
    .box {
        top: 60%;
        left: 18%;
        width: 70%;
    }
    .h-box{ 
        margin-top: 10%;
    }

    /* About */
    .about{
        min-height: 150vh;
        width: 100%;
    }
    .about-title{
        top: 3%;
        left: -10%;
        border-radius: 5px;
        width: 45%;
    }
    .about-title h1 {
        font-size: 1.5em;
    }
    .about .container-about h2{
        padding-top: 20%;
    }
    .profile-text{
     margin-top: 10%; 
    }
    .container-about{
        width: 95%;    
    }
   .bio-about{
       display: flex;
   }
/* Skill */

    .skill {
        position: relative;
        overflow: hidden;
        height: 130vh;
        width: 100%;
        /* background-color: rgb(216, 181, 24); */
    }
    .skill .skewed{
        transform: skewY(0deg);
    }
    .portfolio-title{
        width: 60%;
        background-color:  rgb(0, 0, 0);
        position: absolute;
        transform: rotate(-35deg);
        top: 2%;
        left: -15%;
        border-radius: 5px;
    }
    .skill h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 1.5em;
        color: #fff;
        text-align: center;
    }
    .skill-1 {
        margin-top: 30%;
        margin-left: 0;
        position: relative;
        height: 100vh;
        font-family: 'Rubik', sans-serif;
    }
    .skill-1 h4{
        font-size: 2.5em;
        font-family: 'Rubik', sans-serif;
        text-shadow: 2px 2px #2475f0;
        text-align: center;
    }
    .skill-css{
        margin-left: 0;
    }
    .skill-js{
        margin-left: 0;
    }
  
    .skill-1 h2 {
        font-family: 'Rubik', sans-serif;
    }
   /* Skill-2 */
  
    .skill-2 {
        position: absolute;
        top: 60%;
        margin-top: 0;
        background: url(../../../img/buble.png);
        background-repeat: no-repeat;
        background-position: 100px -50px;
    }
    
    .sb {
        top: -10%;
        width: 160px;
        height: 160px;
    }
    .sb a i {
        font-size: 50px;
        margin-left: 50px;
        margin-top: 10px;
    }
    .skill-box-4 {
        color: rgb(245, 235, 235);
        top: 35%;
        right:  10%;
    }
    .skill-box-2 {
        top: 0;
        right: 10%;
    }
    .skill-box-3 {
        top: 25%;
        left: 0;
    }

    /* Portfolio */

    .portfolio{
        background-color: #0e0d0d;
        min-height: 180vh;
        position: relative;
    }
    
    .container-portfolio{
        height: 170vh;
        position: relative;
    }
    .port-responsive{
        background-color: rgb(0, 0, 0);
        margin: 5% 0;
        border-radius: 0;
        position: absolute;
        transform: rotate(0deg);
        top: 5%;
        left: 0;
        width: 100%;
        border-radius: 5px;
        z-index: 12121212;
    }
    .port-responsive h1{
        padding-top: 5%;
        text-align: center;
        border-radius: 0;
    }
    .ro-herop{
     position: absolute;
     top: 10%;
    }
    

        
    /* Contact */
    .contact {
        /* height: 100vh; */
        position: relative;
        /* width: 100%; */
    }
    .contact-sec{
        background-color: rgb(216, 181, 24);
        margin: 5% 0;
        border-radius: 0;
    }
    .contact h1{
        text-align: center;
        margin: 4% 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 2.8em;
    }

    .label-contact{
        margin-top: 2%;
        font-size: 0.8em;
        font-family: 'Roboto', sans-serif;
    }
    .input-contact{
        width: 100%;
    }
    .input-contact.textarea{
        height: 200px;
    }
    .contact-btn{
        width: 100%;
    }
    .title-contact{
        margin-top: 10%;
        font-size: 2.7em;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }
    .one_half h5{
        margin-top: 5%;
    }
    .maps{
        margin-top: 10%;
        border-radius: 4px;
        border: 5px solid black;
        box-shadow: 5px 5px 15px rgba(105, 103, 103, 0.5) ;
    }
    iframe {
        width: 100%;
    }
    
    Btn {
        z-index: 8989898989;
        bottom: 70px; 
      }

 }

 @media screen and (min-width: 601px) and (max-width: 850px)  {

    /* Navbar */
    span , .navbar-toggler-icon{
        font-size: 35px;
        outline-style: none;
        margin-top: 10px;
     }
    span , .navbar-toggler-icon .fa, .fas {
     color: rgb(214, 195, 88);
     }
     .navbar-nav {
        padding-left:0;
    }
     .navbar-nav .nav-link {
       margin: 2px 2px 10px;
       padding: 1px;
       font-family: 'Kaisei HarunoUmi', serif;
       font-size: 1.1em;
    }
    /* header */

    .header{
        /* position: relative; */
        background-color: rgb(216, 181, 24);
        min-height: 100vh;
        display: flex;
        flex-direction: row;
    }
    .box {
        top: 30%;
        left:0;
        width: 100%;
    }
    .h-box{ 
        margin-top: 10%;
        align-items: center;
    }

 } 