@media screen and (min-width: 320px) and (max-width: 720px){ 
  
    body {
        position: relative;
        overflow-x: hidden;
    }
   span , .navbar-toggler-icon{
       font-size: 35px;
       outline-style: none;
       margin-top: 10px;
    }
   span , .navbar-toggler-icon .fa, .fas {
    color: rgb(214, 195, 88);
    }
    .navbar-nav {
        padding-left:0;
    }
     .navbar-nav .nav-link {
         background-color:  rgb(216, 181, 24);
         color: #0e0d0d;
         width: 50%;
         text-align: center;
         border-radius: 2%;
       margin: 1% 25% 2%;
       padding: 1px;
       font-family: 'Kaisei HarunoUmi', serif;
       font-size: 1.4em;
    }
    .header{
        position: relative;
        background-color: rgb(216, 181, 24);
        min-height: 190vh;
    }
    .hero img {
        width: 100%;
    }
    .hero{
        width: 100%;
    }
    .box {
        top: 60%;
        left: 18%;
        width: 70%;
    }
    .h-box{ 
        margin-top: 10%;
    }
    

    /* About */
    .about{
        height: 130vh;
        width: 100%;
    }
    .about-title{
        top: 3%;
        left: -10%;
        border-radius: 5px;
        width: 45%;
    }
    .about-title h1 {
        font-size: 1.5em;
    }
    .about .container-about h2{
        padding-top: 20%;
    }
    .profile-text{
     margin-top: 10%; 
    }
    .container-about{
        width: 95%; 
        height: 80%;   
        top: 5%;
    }
   .bio-about{
       display: flex;
       margin-left: 3%;
   }
   .form-label{
    padding-left: 5%;
    }
    .branding-1 ul {
    margin-left: 3%;
    }
/* Skill */

    .skill {
        position: relative;
        overflow: hidden;
        height: 140vh;
        width: 100%;
        /* background-color: rgb(216, 181, 24); */
    }
    .skill .skewed{
        transform: skewY(0deg);
    }
    .portfolio-title{
        width: 60%;
        background-color:  rgb(0, 0, 0);
        position: absolute;
        transform: rotate(-35deg);
        top: 2%;
        left: -15%;
        border-radius: 5px;
    }
    .skill h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 1.5em;
        color: #fff;
        text-align: center;
    }
    .skill-1 {
        margin-top: 30%;
        margin-left: 0;
        position: relative;
        height: 100vh;
        font-family: 'Rubik', sans-serif;
    }
    .skill-1 h4{
        font-size: 2.5em;
        font-family: 'Rubik', sans-serif;
        text-shadow: 2px 2px #2475f0;
        text-align: center;
    }
    .skill-css{
        margin-left: 0;
    }
    .skill-js{
        margin-left: 0;
    }
  
    .skill-1 h2 {
        font-family: 'Rubik', sans-serif;
    }
   /* Skill-2 */
  
    .skill-2 {
        position: absolute;
        top: 60%;
        margin-top: 0;
        background: url(../../../img/buble.png);
        background-repeat: no-repeat;
        background-position: 100px -50px;
    }
    
    .sb {
        top: -10%;
        width: 160px;
        height: 160px;
    }
    .sb a i {
        font-size: 50px;
        margin-left: 50px;
        margin-top: 10px;
    }
    .skill-box-4 {
        color: rgb(245, 235, 235);
        top: 40%;
        right:  15%;
    }
    .skill-box-1 {
        top: -5%;
        left: 5%;
    }
    .skill-box-2 {
        top: 5%;
        right: 15%;
    }
    .skill-box-3 {
        top: 30%;
        left: 5%;
    }

    /* Portfolio */

    .portfolio{
        background-color: #0e0d0d;
        min-height: 180vh;
        position: relative;
    }
    
    .container-portfolio{
        height: 160vh;
        position: relative;
    }
    .port-responsive{
        background-color: rgba(255, 255, 255, 0.158);
        margin: 5% 0;
        border-radius: 0;
        position: absolute;
        transform: rotate(0deg);
        top: 5%;
        left: 10%;
        width: 80%;
        text-align: center;
        border-radius: 5px;
        z-index: 12121212;
    }
    .port-responsive h1{
        padding-top: 5%;
        text-align: center;
        border-radius: 0;
    }
    .ro-herop{
     position: absolute;
     top: 10%;
    }
    

        
    /* Contact */
    .contact {
        position: relative;
    }
    .contact-sec{
        background-color: rgb(216, 181, 24);
        margin: 5% 0;
        border-radius: 0;
    }
    .contact h1{
        text-align: center;
        margin: 4% 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 2.8em;
    }

    .label-contact{
        margin-top: 2%;
        font-size: 0.8em;
        font-family: 'Roboto', sans-serif;
    }
    .input-contact{
        width: 100%;
    }
    .input-contact.textarea{
        height: 200px;
    }
    .contact-btn{
        width: 100%;
    }
    .title-contact{
        margin-top: 10%;
        font-size: 2.7em;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }
    .one_half h5{
        margin-top: 5%;
    }
    .maps{
        margin-top: 10%;
        border-radius: 4px;
        border: 5px solid black;
        box-shadow: 5px 5px 15px rgba(105, 103, 103, 0.5) ;
    }
    iframe {
        width: 100%;
    }
    
    Btn {
        position: absolute;
        z-index: 898989898989008;
        bottom: 70px; 
      }

 }

 @media screen and (min-width: 758px) and (max-width: 990px)  {

    /* * {
        border: 2px solid red;
    } */
    /* Navbar */
    span , .navbar-toggler-icon .fa, .fas {
     color: rgb(214, 195, 88);
     }
     .navbar-nav {
        padding-left:0;
    }
    /* header */
    .header{
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    .box {
        top: 60%;
        left:0;
        width: 90%;
    }
    .hero{
        width: 90%;
    }
    .h-box{ 
        margin-top: 10%;
        width: 30%;
        align-items: center;
    }
    .h-box h5{ 
        font-size: 1em;
    }
    .fa-laptop-code, 
    .fa-laptop-medical, 
    .fa-laptop-house {
        font-size: 1.1em;
    }

    /* About */
    .about{
        min-height: 160vh;
    }
    .container-about{
        width: 90%;   
        left: 5%; 
    }
    .about-title{
        top: 5%;
        left: -12%;
        width: 45%;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }
    .container-about .col-md-8{
        width: 100%;
    }
    .container-about .col-md-8 .respo-ip{
        padding: 0 10%;
        margin: auto 10%;
        width: 100%;
    }
    .container-about .branding-ip{
        position: absolute;
        top: 80%;
        left: 20%;
        width: 100%;
    }
    .about .container-about h2{
        padding-top: 10%;
    }
    .profile-text{
     margin-top: 10%; 
    }
   .bio-about{
       display: flex;
   }
   .form-label{
    margin-right: 10%;
   }

   
   .skill {
    height:180vh;
    width: 100%;
    /* background-color: rgb(216, 181, 24); */
    }
   
    .skill-a .col-md-5 {
        width: 100%;
        margin-top: -10%;
    }

    .skill-1 h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 3em;
        text-align: center;
    }
    .skill-1 h6 {
        font-size: 1.3em;
        font-family: 'Rubik', sans-serif;
         }
    .portfolio-title{
        width: 60%;
        background-color:  rgb(0, 0, 0);
        position: absolute;
        transform: rotate(-35deg);
        top: 5%;
        left: -18%;
    }
    .skill h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 2em;
        color: #fff;
        text-align: center;
    }
    .skill-1 {
        margin-top: 30%;
        margin-left: 0;
        position: relative;
        height: 100vh;
        font-family: 'Rubik', sans-serif;
    }
    .skill-1 h4{
        font-size: 2.5em;
        font-family: 'Rubik', sans-serif;
        text-shadow: 2px 2px #2475f0;
        text-align: center;
    }
    .skill-css{
        margin-left: 0;
    }
    .skill-js{
        margin-left: 0;
    }

    
    /* Skill-2 */

    .skill-2 {
        position: absolute;
        top: 65%;
        left: 20%;
        margin-top: 0;
        background: url(../../../img/buble.png);
        background-repeat: no-repeat;
        background-position: 100px -50px;
    }

    .sb {
        top: -10%;
        width: 50%;
        height: 45%;
    }
    .sb a i {
        font-size: 4em;
    }
    .skill-box-1 {
        top: -40%;
        right:  60%;
    }
    .skill-box-4 {
        color: rgb(245, 235, 235);
        top: 25%;
        right:  3%;
    }
    .skill-box-2 {
        top: -25%;
        right: 3%;
    }
    .skill-box-3 {
        top: 10%;
        left:  -15%;
    }

      /* Portfolio */

    .portfolio{
        min-height: 330vh;
        position: relative;
    }
    
    .container-portfolio{
        height: 310vh;
        width: 100%;
        position: relative;
    }
    .port-responsive{
        background-color: rgba(255, 255, 255, 0.158);
        margin: 5% 0;
        border-radius: 0;
        position: absolute;
        transform: rotate(0deg);
        top: 5%;
        left: 10%;
        width: 80%;
        text-align: center;
        border-radius: 5px;
        z-index: 12121212;
    }
    .port-responsive h1{
        padding-top: 5%;
        text-align: center;
        border-radius: 0;
    }
    .ro-herop{
     position: absolute;
     top: 10%;
    }
    
    .herop{
        width: 100%;
    }
    .contact-sec{
        background-color: rgb(216, 181, 24);
        margin: 5% 0;
        width: 100%;
    }
    .contact h1{
        text-align: center;
        margin: 4% 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 2.8em;
    }

    Btn {
        position: absolute;
        z-index: 898989898989008;
        bottom: 70px; 
      }
 } 